
.tiptap {
    @apply focus:outline-none;
}


.spell-error {
    color: red !important;
    text-decoration: underline;
    text-decoration-color: red;
    cursor: pointer;
    position: relative;
}

.spell-error:hover {
    background-color: rgba(255, 0, 0, 0.1);
}

